<div class="left-bar">
    <div>
        <h1> {{ userName }} </h1>
    </div>
    <div>
        <div [formGroup]="loginForm">
            <mat-form-field class="tp-full-width" style="width:150px">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="tp-full-width" style="width:150px">
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <div class="example-button-container">
                <a mat-fab extended routerLink=".">
                  <mat-icon>login</mat-icon>
                  Login
                </a>
            </div>
            <div class="example-button-container">
                <a mat-fab extended routerLink=".">
                  <mat-icon>favorite</mat-icon>
                  Sign Up
                </a>
            </div>
        </div>
    </div>
    <div> 
        <form [formGroup]="stockForm">
            <h2>Select Stock: </h2>
            <mat-form-field style="width:150px">
                <input matInput [matAutocomplete]="auto" (input)="onKey($any($event.target).value)"
                    formControlName="selectedStockControl" (focus)="highlightText($event)"
                    style="caret-color: yellow; line-height: 1.5;">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayStock"
                    (optionSelected)="changeStock($event.option.value)" autoActiveFirstOption>
                    <mat-option *ngFor="let stock of selectedStocks" [value]="stock">
                        {{stock.viewValue}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <h2>Select Timeframe: </h2>
            <mat-form-field style="width:150px">
                <mat-select formControlName="selectedTimeFrameControl" placeholder="Time Frame" class="mat-select-stuff"
                    (ngModelChange)="changeTimeFrame($event)">
                    <mat-option class="mat-select-stuff" *ngFor="let TimeFrame of timeFrames"
                        [value]="TimeFrame">{{TimeFrame.viewValue}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="patternScore != 0">
                <h2>Pattern accuracy score: </h2>
                <mat-card>
                    <mat-card-content formControlName="patternScore">
                        {{patternScore}}%
                    </mat-card-content>
                </mat-card>
            </div>
        </form> 
    </div>
</div>
