.chart-container {
    width:100%;
    height: 47%;
    display: flex;
    //padding-left: 10%;
    //padding-left: 25%;
    //margin: auto;
}

.chart-itself {
    display: flex;
    align-items: left;
    //justify-content: center;
    margin: 0% 0% 0% 0%;
}

.big-title {
    overflow: hidden;
}

h2 {
    color: black;
    display: flex;
    text-align: center;
    //padding-left: 45%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 80px;
    font-family: "Arial", "Helvetica Neue", "Helvetica";
    font-weight: 600;
}

h3 {
    color: midnightblue;
    font-style:normal;
    font-size: larger;
}

p {
    color: black;
}

.description {
    padding-top: 2%;
    padding-left: 30%;
    padding-right: 2%;
    width: 100%;
}

.wholePage {
    width: 100%;
    height: 150%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url('../assets/greenBackground2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    .wholePage {
        width: 100%;
        height: 200vh;
        background-size: cover;
        background-position: center;
    }

    .chart-container {
        flex-direction: column; // Stack elements vertically
        height: 150vh;
    }

    .left-bar {
        width: 100%; // Full width for left-bar
        padding-top: 0%;
    }

    .chart-itself {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1% 2% 0% 0%;
    }

    h2 {
        font-size: 45px;
        padding-bottom: 0%;
    }

    .mainBar {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

.blockquote.construction {
    border-left: none;
}

.mainBar {
    //display: flex;
    align-items: left;
}

p {
    padding-top: 4%;
    width: 40%;
    font-weight: 500;
    font-size: 15px;
}

.left-bar {
    align-items: left;
    justify-content: left;
    padding-right: 0%;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: black;
}

.score {
    width: 50%;
    align-items: center;
    //height: 50px;
    display: flex;
    padding-left: 2%;      
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border: 5px solid rgb(150,100,255);
    border-width: 3px;
    border: 2px solid;
   // box-shadow: 1px 1px 5px 1px;
   // border-radius: 10px;
}