<script src="anime.min.js"></script>
<div class="wholePage">
  <h2 class="big-title"> 🧙🏻‍♂️ Stock Sorcerer</h2>
  <div class="chart-container">
    <app-polygon-api-controller class="left-bar" (selectedStockOutputter)="setStock($event)" (selectedTimeFrameOutputter)="setTimeFrame($event)" [patternScore]="score"></app-polygon-api-controller>
    <mat-spinner *ngIf="isLoading" style=" margin:10% 5% 10% 0%;" color="accent" diameter="100"></mat-spinner>
    <canvas id="MyChart" class="chart-itself">{{ chart }}</canvas>
  </div>
  <div class="mainBar">
    <div class="description">
      <p> 🪄 Upcoming changes: Make predicted trend line dynamic, add "head & shoulders" detection etc., add comment section below chart, implement user account functionality 🪄</p>
    </div>
  </div>
</div>  
<router-outlet></router-outlet>
